{% extends 'base.html.twig' %}

{% block title %}Détails création{% endblock %}

{% block body %}

    <main class="creation-container">
        <section class="details">
            <div class="grid-container">
                <div class="creation">
                    <img style="height: 750px;" src="{{ asset ('/img/home/last-creation.jpg') }}" alt="">
                    <div class="card-body">
                        <h4>peinture acrylique</h4>
                        <h2>La valse des couleurs</h2>
                        <p>02.10.2022</p>
                    </div>
                </div>
            </div>
            <p><a href="{{ path('app_creations') }}">retour à la galerie</a></p>
        </section>
    </main>

{% endblock %}
