{% extends 'base.html.twig' %}

{% block title %}Agenda des ateliers{% endblock %}

{% block body %}
<section class="agenda">
    <div class="sous-titre">
        <h6>l'agenda des ateliers</h6>

    </div>
</section>
{% endblock %}