// colors
$blanc: #F0EDE6;
$olive: rgb(94, 96, 75);
$olive-fonce: #34352A;
$beige-clair: #DBD2C3;
$beige-fonce: #B6A385;

// polices
$paragraphe : 'Tajawal', sans-serif;
$titre : 'Noto Serif Display', serif;
$lien : 'Syne', sans-serif;
$uppercase : 'Thasadith', sans-serif;