<form method="post" action="{{ path('app_agenda_delete', {'id': calendar.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet atelier?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calendar.id) }}">
    <button class="btn">Supprimer</button>
</form>
