{% extends 'base.html.twig' %}

{% block title %}Modifier l'atelier{% endblock %}

{% block body %}
    <h1>Modifier l'atelier</h1>

    {{ include('agenda/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_agenda_index') }}">Retour à la liste</a>

    {{ include('agenda/_delete_form.html.twig') }}
{% endblock %}
