{% extends 'base.html.twig' %}

{% block title %}Nouvel atelier{% endblock %}

{% block body %}
    <h1>Créer un nouvel atelier</h1>

    {{ include('agenda/_form.html.twig') }}

    <a href="{{ path('app_agenda_index') }}">Retour à la liste</a>
{% endblock %}
