{% extends 'base.html.twig' %}

{% block title %}New Calendar{% endblock %}

{% block body %}
    <h1>Create new Calendar</h1>

    {{ include('agenda/_form.html.twig') }}

    <a href="{{ path('app_agenda_index') }}">back to list</a>
{% endblock %}
