<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Marie Créations{% endblock %}</title>

        {% block stylesheets %}
            <!-- Bootstrap -->
            <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <!-- icones -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
            <!-- Style css -->
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <!-- fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Tajawal:wght@300;400;500;700&family=Thasadith:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
    {% include 'partials/navbar.html.twig' %}
        {% block body %}
        {% endblock %}
    {% include 'partials/footer.html.twig' %}
    <!-- scripts du site -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js'></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('/app.js') }}" defer></script>
    {% block javascripts %}
    {% endblock %}
    </body>
</html>
