{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}

    <section id="mes-reservations">
        <div class="sous-titre">
            <h6>Mes réservations d'ateliers</h6>
        </div>
        <div class="my-reservations">
            {% if reservations is empty %}
                <p>Vous n'avez pas réservé d'atelier pour le moment. Rendez-vous dans <span><a href="{{ path('app_agenda') }}">l'agenda </a></span> si vous désirez pour inscrire à un de mes cours !</p>
            {% else %}
                <ul>
                    <h2>Ateliers réservés </h2>
                    {% for reservation in reservations %}
                        <li>
                            {{ reservation.workshop.start|date('d/m/Y') }} : {{ reservation.workshop.title }}.
                            Statut de la réservation : {{ reservation.status }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>

{% endblock %}