{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}

    <section id="profile">
        <div class="sous-titre">
            <h6>Mon profil</h6>
        </div>
        <div class="profile-container">
        
        </div>
    </section>

{% endblock %}